p{
    color: red;
}
article{
    background-color: lightgreen;
}
h1{
    color: Blue;
}

/* Selctor on id */
#select{
    text-align: center;
    background-color: lightslategray;
    color: white;
}

/*  Class Selector */

.Selector{
    color: blueviolet;
    background-color: bisque;
}